@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .layout {
    max-width: 768px;
    margin: 0 auto;
    padding: 50px 15px;
  }
}
